<%= render "filenotes/header" %>
<div class='main-bar'>
  <%= link_to '>> Works', works_path, class: "note" %>
  <% breadcrumb :works%>
  <%=link_to image_tag("plus.png"), new_work_path, class: 'plus' %>
</div>
<div class='head-border'>
</div>

<main class='work-contents'>
  <div class='content-inner'>
    <center><p class='page-heading'>アプリ一覧</p>
    <div class='tun-border'></div></center>
    <div class='work__wrapper'>
      <% @works.reverse_each do |work| %>
        <div class="content">
          <%= link_to image_tag("close-icon.png", class: 'work-close-icon'), work_path(work.id), method: :delete %>
          <%= image_tag work.image, class: 'work-image' %>
          <div class='work-title'><%= work.app_name %></div>
          <div class='work-url'><div class='icon-block'><%= image_tag "icon.png", class: 'icon' %></div><%= work.url %></div>
          <div class='text'>
            <div class='work-text'><%= work.text %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render "filenotes/footer" %>