<header class='top-page-header'>
  <div class='top'>
    <div class='top-up'>
      <form class="top-search-form">
        <input type="text" placeholder="キーワードで探す" class='top-search'>
        <input type="submit" value='検索' class='top-search-btn'>
      </form>
    </div>
    <div class='top-right'>
      <div class='top-image'>
        <%= link_to image_tag("filenote-logo.png", class:"filenote-icon"), "/" %>
        <%= "  It's a simple filing note." %>
      </div>
    </div>
  </div>
  <div class='top-left'>
  </div>
  <div class="top-border4">
  </div>
  <div class="top-border3">
  </div>
  <div class="top-border2">
  </div>
  <div class="top-border">
  </div>
  <div class='nav-bar'>
    <div class="home-btn"><%= link_to image_tag("home_white.png"), "/" %></div>
    <ul class='nav-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name + "さんのページ", "#", class: "login" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-up" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>