    <%= render partial: "header" %>
    <div class="white-page">
      <% if user_signed_in? %>
            <div class='main-bar'>
              <ul class='menu-lists'>
                <li><%= link_to 'Works', works_path, class: "work-link" %></li>
                <li><%= link_to 'Notes', new_filenote_path, method: :get, class: "note-link" %></li>
              </ul>
              <% breadcrumb :root %>
            </div>
            <div class='head-border'>
            </div>
        </div>
        
       <body>
          <div class='main-body'>
            <div class='form-left'>
              <form class='todo'>
                <div contenteditable="true", class='todo-in'>
                  Todoリスト
                </div>
              </form>
              <div class='tweet-block'>
                <div class="discribe-left">
                  <%= "Myアカウント" %>
                </div>
                <a class="twitter-timeline" href="https://twitter.com/wOt1nqKKkhrKWpq?ref_src=twsrc%5Etfw">Tweets by wOt1nqKKkhrKWpq</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
            <div class='form-right'>
            </div>
      <% end %>
          <% unless user_signed_in? %>
              <div class='top-contents'>
                <div class='top-content'>
                </div>
                <div class='left-contents'>
                  <div class='slider-content'>
                    <div class="discribe">
                      <%= "サンプル画面" %>
                    </div>
                    <div class="slider">
                      <%= image_tag "filenote_ER.png" %>
                      <%= image_tag "filenote-note.png" %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          </div>
       </body>
<%= render "footer" %>