<%= render "header" %>
<div class='main-bar'>
  <p class='note'>>>Notes</p>
</div>
<div class='head-border'>
</div>

<div class='memo-page'>
  <div class='memo-page__inner'>
      <%= form_with local: true do |f| %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :title %>
          </div>
          <div class='field-input-title'>
            <%= f.text_field :title, autofocus: true %>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :memo%>
            </div>
            <div class='field-input-memo'>
              <%= f.text_field :memo, autocomplete: true %>
            </div>
          </div>
          <div class='field'>
            <%= f.submit "add", class: 'btn'%>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="memo-page">
  <div class='memo-page__in'>
  <p>memo表示する</p>
  </div>
</div>