<%= render "header" %>
<div class='main-bar'>
  <div class="note-bar">
    <p class='note'>>> Notes</p>
  </div>
</div>
<% breadcrumb :filenotes %>
<div class='head-border'>
</div>

<div class='memo-page'>
  <div class='memo-page__inner'>
    <%= form_with url: filenotes_path, local: true do |f| %>
      <div class='field'>
        <div class='field-label'>
          <%= f.label :title %>
        </div>
        <div class='field-input-title'>
          <%= f.text_field :title, autofocus: true %>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :memo%>
          </div>
          <div class='field-input-memo'>
            <%= f.text_field :memo, autocomplete: true %>
          </div>
        </div>
        <div class='field'>
          <%= f.submit "add", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>

  <div class='note-contents'>
      <div class='memo-page2__inner'>
        <div class='note__wrapper'>
          <% @filenotes.reverse_each do |filenote| %>
          <% if current_user == filenote.user.id %>
            <div class='note-content'>
              <div>
                <%= link_to image_tag("close-icon.png", class: 'close-icon'), filenote_path(filenote.id), method: :delete %>
                <div class='note-title'><%= filenote.title %></div>
                 <div class='note-texts'>
                   <div class='note-text'><%= filenote.memo %></div>
                 </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= render "footer" %>