<header class='top-page-header'>
  <div class='top-bar-contents'>
    <%= link_to image_tag("filenote-logo.png", class:"filenote-icon"), "/" %>
  </div>
  <div class='nav-bar'>
    <ul class='nav-lists'>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
  <div class='main-bar'>
    <ul class='menu-lists'>
        <li><%= link_to '>>Works', "#", class: "work-link" %></li>
        <li><%= link_to 'Note', "#", class: "note-link" %></li>
      </ul>
  </div>
  <div class='head-border'>
  </div>
</header>

<body>
  <div class='main-contents'>
  </div>
</body>

<footer>
  <div class='foot-bar'>
  </div>
</footer>